.container
{
    display: grid;
    grid-template-areas: 90% 60% 30%;
    gap: 20px;
}

.grid-container
{
    border: black;
    background-color: aliceblue;
    padding: 15px;
}

.sidebar
{
    grid-row: 1/span 4;
}
.HeaderBar
{
    grid-column: 2/span 2;
}
.ContentBar
{
    grid-column: 3/span 2;
}
.SearchBar
{
    grid-column: 2/span 2;
}
.ActivityBar
{
    grid-column: 2/span 2;
}
.Additinal
{
    grid-column: 2/span 2;
}